.width-50{
    width: 50px;
}
.width-150{
    width: 150px;
}
.width-300{
    width: 300px;
}
@media  screen and (max-width:376px) {
    table{
        overflow-x: scroll;
        width: 100%;
    }
}